:root {
  --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
}

.tabbtnbg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.tabsparkle {
  /* --clr: 60; */
  --shadows: 0%;
  --shadowl: 0%;
  font-size: max(1.0vw, 1.1rem);
  font-weight: 400;
  letter-spacing: 0.5px;
  border-radius: 5em;
  background: linear-gradient(
    0deg,
    hsla(var(--clr), 100%, 70%) 0%,
    hsla(var(--clr), 100%, 65%) 5%,
    hsla(var(--clr), 80%, 35%) 15%,
    hsla(var(--clr), 10%, 0%) 40%,
    hsla(var(--clr), 25%, 12%) 90%
  );
  background-size: 200% 300%;
  background-position: 0% 0%;
  box-shadow: inset 0 0 2px hsla(var(--clr), 30%, 20%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 0;
  position: relative;
  /* overflow: hidden; */
  transform: translate(0px);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  cursor: pointer;
  border: none;
}

.tabsparkle::before,
.tabsparkle::after {
  --gradientPos: 50% 100%;
  content: " ";
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  transition: inherit;
}

.tabsparkle::before {
  inset: 0;
  position: absolute;
  transform: translate3d(0, 0, 0.01px);
  border-radius: inherit;
  background-image: var(--glitter), var(--glitter), linear-gradient(180deg, black 0%, white 80%);
  background-size: 300px 170px, 280px 130px, 200% 200%;
  background-blend-mode: multiply, multiply, overlay;
  background-position: 0px 0px, 0px 0px, var(--gradientPos);
  background-repeat: repeat;
  mix-blend-mode: color-dodge;
  filter: brightness(2) contrast(.75);
  animation: bubble 20s linear infinite;
  animation-play-state: paused;
  opacity: 0.5;
  box-shadow: inset 0 -8px 10px -7px hsla(var(--clr), 70%, 80%, 0.75);
}

.tabsparkle::after {
  background-image: radial-gradient(
      ellipse at center 70%,
      hsla(var(--clr), 100%, 99%, 0.8) 5%,
      hsla(var(--clr), 90%, 80%, 1) 20%,
      transparent 50%,
      transparent 200%
    ),
    linear-gradient(
      90deg,
      hsla(var(--clr), 80%, 10%, 1) -10%,
      transparent 25%,
      transparent 75%,
      hsla(var(--clr), 80%, 10%, 1) 110%
    );
  box-shadow: inset 0 0.25em 0.75em rgba(0, 0, 0, 1),
    inset 0 -0.05em 0.2em rgba(255, 255, 255, 0.4),
    inset 0 -1px 3px hsla(var(--clr), 80%, 50%, 0.75);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 180% 80%, cover;
  background-position: center 220%;
  mix-blend-mode: hard-light;
  filter: blur(5px);
  opacity: 0;
}

.tabsparkle span {
  grid-column: 1;
  grid-row: 1;
  background-image: linear-gradient(
    hsl(calc(var(--clr) - 43), 27%, 85%) 0%,
    hsl(calc(var(--clr) - 60), 22%, 80%) 19%,
    hsl(calc(var(--clr) - 50), 20%, 75%) 30%,
    hsl(calc(var(--clr) - 52), 36%, 98%) 43%,
    hsl(var(--clr), 70%, 70%, 1) 51%,
    hsl(var(--clr), 50%, 85%, 1) 52%,
    rgb(255, 255, 255) 100%
  );
  background-size: 1em 3.45em;
  color: rgb(214, 222, 226);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  filter: drop-shadow(0 0 0.05em rgba(0, 0, 0, 0.5)) drop-shadow(0 0.05em 0.05em rgba(0, 0, 0, 0.5));
  padding: 0.75em 1.5em;
}

.tabsparkle:hover,
.tabsparkle:focus {
  --shadows: 90%;
  --shadowl: 80%;
  background-position: 100% 100%;
}

.tabsparkle:hover::before {
  animation-play-state: running;
  opacity: 0.8;
}

.tabsparkle:hover::after {
  opacity: 0.8;
}

@keyframes bubble {
  0% {
    background-position: 0px 340px, 0px 130px, var(--gradientPos);
  }
  100% {
    background-position: 0px 0px, 0px 0px, var(--gradientPos);
  }
}

.glassStyle {
    background: rgba(255, 255, 255, 0.51); /* '#ffffff82' converted to rgba */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    color: #000;
}

.btn1 {
  --clr: 170; /* cyan */
}

.btn2 {
  --clr: 0; /* red */
}

.btn3 {
  --clr: 325; /* magenta */
}

.btn4 {
  --clr: 290; /* purple */
}

.btn5 {
  --clr: 45; /* orange */
}

.btn6 {
  --clr: 110; /* green */
}
